.title {
  font-size:35px;
  color:white;
}

.titleBlack {
  font-size:45px;
  color:black;
}

.subTitle {
  font-size:30px;
  color:green;
}

.text {
  font-size:16px;
}

.selected {
  color:green;
}

#searchButton {
  background-color:#69aa82;
  padding-top:7px;
  width:30px;
  height:30px;
  color:white;
}

#searchButton:hover {
  cursor:pointer;
}
