.title {
  font-size:35px;
  color:white;
}

.titleBlack {
  font-size:45px;
  color:black;
}

.subTitle {
  font-size:30px;
  color:green;
}

.text {
  font-size:16px;
  /* color:black; */
}


.selected {
  color:green;
}
