#back:hover{
  cursor:pointer;
  color:#F94D4D;
}

#back {
  transition:0.5s;

}

.infoText {
  font-size:20px;
  color:white;
  font-family: 'Raleway', sans-serif;
}

#displayBox {
  position:absolute;
  left:175px;
  top:300px;
}

#absContainer {
  position:relative;
}

.portrait {
  transition:0.5s;
  position:absolute;
  width:33%;
  background-size:contain;
  background-repeat:no-repeat;
}
