.title {
  color:#fafafc;
  font-family: 'Raleway', sans-serif;
}

.blueTitle {
  color:#fafafc;
  font-family: 'Raleway', sans-serif;
}

.whiteTitle {
  color:white;
  font-family: 'Raleway', sans-serif;
}

.para {
  font-size: 15px;
  color:#fafafc;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}

.code {
  font-family: 'Inconsolata', monospace;
  color:#fafafc;
}

.codeRed {
  font-family: 'Inconsolata', monospace;
  color:#ff7272;
}

.codeGreen {
  font-family: 'Inconsolata', monospace;
  color:#80a86a;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 40px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.projLabel {
  font-weight:600;
  font-family: 'Raleway', sans-serif;
  position:absolute;
  left:20px;
  bottom:10px;
  color:white;
  background-color:#111721;
  padding:5px;
  padding-left:10px;
  padding-top:0px;
}

.projDesc {
  font-weight:600;
  font-family: 'Raleway', sans-serif;
  position:absolute;
  left:20px;
  top:10px;
  color:#1B2432;
  /* background-color:#ff7272; */
  padding:5px;
  padding-left:10px;
  padding-top:0px;
}

.writingText {
  white-space: pre-wrap;
}

.shiftDown {
  transform:translate( 0px, 15px);
  font-size:13px;
}

.footerText{
  font-size:15px;
  display:inline-block;
  transform:translate(0, -10px);
  white-space:pre-wrap;
}
