/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  overflow-x : hidden;
  overflow-y: hidden;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-color:black;
  padding:0;
  margin:0;
}
#header{
  position:relative;
  top:0;
  width:100%;
  height:40px;
  background-color:#111721;
  z-index:10;
}

.headerButton {
  display:inline-block;
  width:20%;
  color:white;
  position:absolute;
  bottom:0px;
  padding:1%;
  padding-top:5px;
  border-bottom: 0px solid #1e1f21;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  font-family: 'Raleway', sans-serif;
  transition:0.5s;
  text-align:center;
}

.headerButton:hover {
  border-bottom: 30px solid #403F4C;
  cursor:pointer;
}

#mainContent {
  width:80vw;
  min-height:100vh;
  transition:0.5s;
}

.mainWrapper {
  position:absolute;
  top:100px;
  left:50px;
  width:75%;
  height:75%;
}

#frame {
  border-radius: 50%;
  border: #A9CEF4 solid 3px;
  width:150px;
  height:150px;
  margin:auto;
  background-image:url("./../images/placeholder.jpg");
  background-position:center;
  background-size:contain;
  transition:0.5s;
  text-align:center;
  padding-top:25%;
  font-size:30px;
  font-weight:600;
  font-family: 'Raleway', sans-serif;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.divider {
  margin:auto;
  width:75%;
  height:0px;
  border: 1px solid white;
}

.projectElement {
    width:33.333%;
    border-left:black solid 5px;
    border-bottom:black solid 5px;
    height:25vh;
    background-color:#A9CEF4;
    display:inline-block;
    margin:0;
    position:relative;
    transition:0.5s;
}

.projectElement:hover{
    opacity:0.5;
    cursor:pointer;
}

#textbox{
    height:200px;
}

#imagebox {
  width:100%;
  /* height:100%; */
  background-size:cover;
  background-repeat:no-repeat;
  /* background-image:url("./../images/bkgd.jfif"); */
}

#selector {
  position:absolute;
  transition:0.5s;
  width:0px;
  height:0px;
  border-right: #F94D4D 20px solid;
  border-top:20px transparent solid;
  border-bottom:20px transparent solid;
  z-index:5;
  left:110px;
}

.back {
  display:inline-block;
  padding:20px;
  padding-top:0px;
  position:absolute;
  left:16%;
  display:none;
  z-index:10;
  text-align:center;
}

.back1 {
  top:70px;
  left:270px;
  position:absolute;
  z-index:-5;
  background-color:#A9CEF4;
  display:inline-block;
  transition:0.5s;
  width:0vw;
  height:0vh;
  /* transform:scale( 0.1 ); */
  padding:15px;
  padding-top:0px;
  visibility:hidden;
}


#shader{
  height:100vh;
  width:100vw;
  position:absolute;
  z-index:3;
  background-color:black;
  opacity:0.5;
}

#footer {
  position:fixed;
  bottom:0px;
  width:100%;
  margin:auto;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
  background-color:#1B2432;
  transition:0.5s;
  padding:0px;
  z-index:10;
  height:40px;
  border-top:black solid 5px;
}
#resume {
  color:white;
  transition:0.5s;
  position:absolute;
  right:40px;
  top:10px;
  font-size:20px;
  font-weight:100;
}
#github{
  color:white;
  transition:0.5s;
  position:absolute;
  right:10px;
  top:10px;
  font-size:20px;
}
#resume:hover{
  cursor:pointer;
  color:#F94D4D;
}

#github:hover{
  cursor:pointer;
  color:#F94D4D;
}

#infoBox {
  left:175px;
  top:25px;
  position:absolute;
}

.no-border {
  border:0px transparent;
}

.projectElementSmall {
  width:420px;
  margin-left:5px;
  margin-right:5px;
  height:70px;
  background-color:#A9CEF4;
  display:inline-block;
  margin:0;
  position:relative;
  transition:0.5s;
}

.projectElementSmall:hover {
  cursor:pointer;
  opacity:0.5;
}

#back {
  position:absolute;
}

#codeBox {
  position:absolute;
  right:0px;
  top:0px;
  width:350px;
  height:100vh;
  background-color:#1e1f21;
  padding:20px;
  z-index:10;
  margin-top:40px;
  border-left:black solid 5px;
}
