#titleCard {
  background-image: url("./../images/cloudTitle.png");
  width:100%;
  height:600px;
  background-size:cover;
  position:absolute;
}

#title {
  font-size:100px;
  font-family: 'Aleo', serif;
}

#titleWrapper {
  margin-bottom:50px;
}

#subtitle {
  font-size:40px;
  font-family: 'Aleo', serif;
}

.writingText {
  color:white;
  font-size:20px;
  line-height:50px;
  white-space:pre-wrap;
  font-family: 'Aleo', serif;
}

#wrapper {
  padding-left:10%;
  padding-right:10%;
  padding-top:50px;
  padding-bottom:10%;
}
